:root {
    --mainColor: #45344E;
    --secondaryColor: #382A3F;
  
    --borderColor: #1D1520;
  
    --mainText: #fff;
    --secondaryText: #eeeeee;
  
    --themeDotBorder: #FFF; /*this color code is WHITE*/
  
    --previewBg: rgb(29, 21, 32, 0.8);
    --oreviewShadow: #2b203F;
  
    --buttonColor: #200f30;
  }